<h1 class="head">Articles</h1>

<%= link_to "New Article", new_article_path, class: 'new-article-btn' %>

<table class="article-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td>
          <% if article.image.attached? %>
            <%= image_tag article.image, alt: "Article Thumbnail", style: "max-width: 300px; height: auto;" %>
          <% else %>
            <p>No Image</p>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to "Comment", article, class: 'btn show-btn' %>
          <%= link_to "Edit", edit_article_path(article), class: 'btn edit-btn' %>
          <%= link_to 'Destroy',article_path(article),class:'btn delete-btn' , data:
           {
            turbo_method: :delete,
            turbo_method: "Are you sure?"
           } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
